/* Space out content a bit */
html {
    padding: 0;
    margin: 0;
}
body {
    background-image: url(../images/bg.png);
    background-repeat: repeat;
    padding: 0;
    margin: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container {
    
}

.panel-default > .panel-heading {
    background-color: #C9E7C9;
    color: black;
}

.panel-group {
    margin-top: 5px;
}

.login-controller {
    float: right;
}

.navigation ul {
    list-style-type: none;
    margin-right: 0px;
    display: inline;
    float: right;
    padding: 10px 5px 0px 5px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .wrapper {
      margin: 0 200px 0 200px;
      background-color: #ECECF4;
  }

    .navigation ul {
        margin-right: 200px;        
    }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 0;  
  /*background-image: url(../images/gifts.jpg);*/
  height: auto;

  -webkit-box-shadow: 1px 17px 15px 1px rgba(122,120,122,0.37);
-moz-box-shadow: 1px 17px 15px 1px rgba(122,120,122,0.37);
box-shadow: 1px 17px 15px 1px rgba(122,120,122,0.37);
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.navigation {
    height: 50px;
    width: 100%;
    background-color: #67AB65;
}

.gifts-logo {
    width: 200px;
    height: 100%;
    background-color: #498A4D;
    display: inline;
    float: left
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.left-button {
    width: 200px;
    background-image: url(../images/bg.png);
    background-repeat: repeat;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
}

.right-button {
    width: 200px;
    background-image: url(../images/bg.png);
    background-repeat: repeat;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
}

.left-icon {
    position: absolute;
    top: 50%
}

.right-icon {
    position: absolute;
    top: 50%
}

.facebook_button {
    display: inline-block;

    background: #627aac url(../images/facebook_small.png) left no-repeat;

    border-top: 1px solid #29447e;
    border-right: 1px solid #29447e;
    border-bottom: 1px solid #1a356e;
    border-left: none;

    height: 22px;

    padding-right: 7px;
    padding-left: 29px;

    font-weight: bold;
    font-size: 11px;
    color: white;
    text-decoration: none;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    line-height: 22px;

    cursor: pointer;

}

.friends-container {
    max-height: 500px;
    overflow: scroll;
    list-style-type: none;
    margin-top: 15px;
}

.friends-container li {
    margin-bottom: 5px;
}

.friends-container li img {
    margin-right: 5px;
}

.show-friends-button {
    float: right;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
