<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8" />
		<title>Facebook login</title>
		<script type="text/javascript" src="/javascripts/facebook-login.js"></script>
	</head>
	<body>
		<div id="fb-root"></div>
		<div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div>
	</body>
</html>