<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8" />
		<title>Facebook login</title>
		<script type="text/javascript" src="/javascripts/facebook-login.js"></script>
	</head>
	<body>
		<div id="fb-root"></div>
		<button type="button" id="fb-login-button">Влизане с facebook</button>
	</body>
</html>