<div>
    <button ng-click="login()">Log in</button>
    <button ng-click="logout()">Log out</button>

    <p>Search for your friend or find it in the list</p>

    <input type="text" ng-model="searchFriendsKeywords"/>
    <button ng-click="searchFriends()">Search</button>

    <ul>
        <li ng-repeat="friend in friends">
            <img src="{{friend.picture.data.url}}" alt="{{friend.name}}"/>
            <span>{{friend.name}}</span>
        </li>
    </ul>
    
    <button ng-click="getFriends()">Get friends</button>
</div>