<div ng-controller="FriendsCtrl">
    <accordion>
        <collapsible title="Persona">
            <div class="loader-overlay" ng-show="loadingFriends">
                <img id="loading" src="images/ajax-loader.gif" />
            </div>

            <div ng-hide="loadingFriends">
                <p>Find your friend in the list or search for a profile in Facebook</p>

                <input type="text" ng-model="searchFriendsKeywords"/>
                <button ng-click="searchFriends()">Search</button>
                <button ng-click="getFriends()" class="show-friends-button">Show my friends</button>

                <ul class="friends-container">
                    <li ng-repeat="friend in friends">
                        <a href="#" ng-click="getFriendSuggestions(friend)">
                            <img src="{{friend.picture.data.url}}" alt="{{friend.name}}"/>
                            <span>{{friend.name}}</span>
                        </a>
                    </li>
                </ul>
                <p ng-show="friends.length===0">No people found.</p>
            </div>
        </collapsible>

        <collapsible title="Occasion">
            <select ng-model="occasion">
                <option value="birthday">Birthday</option>
                <option value="christmas">Christams and New Year</option>
                <option value="wedding">Wedding</option>
                <option value="valentine">St. Valentine</option>
                <option value="other">Other</option>
                <option value="no">No occasion</option>
            </select></br>

            <a ng-click="nextStep()" class="next-button btn btn-success">Next</a>
        </collapsible>

        <collapsible title="Age">
            <span>Тhe approximate age of the person:</span>
            <input ng-model="age" type="number"/></br>

            <a ng-click="nextStep()" class="next-button btn btn-success">Next</a>    
        </collapsible>

        <collapsible title="Interests">
            <span>Things that the person may like.</span></br>
            <input ng-model="interests" type="text" /></br>
            
            <a ng-click="nextStep()"  class="next-button btn btn-success">Next</a>  
        </collapsible>

        <collapsible title="Price range">
            <span>Max price</span>
            <input ng-model="maxPrice" type="number"/>
        </collapsible>
    </accordion>

    <a class="btn btn-lg btn-success" ng-click="suggest()" href="#">Suggest!</a>
</div>

<div ng-controller="SuggestionsCtrl">
    <div class="loader-overlay" ng-show="suggestingItems">
        <img id="loading" src="images/ajax-loader.gif" />
    </div>

    <ul class="suggested-items-container" ng-hide="suggestingItems">
        <li ng-repeat="suggestion in suggestions">
            <div ng-show="suggestion.ItemAttributes" class="suggested-item">
                <a target="_blank" href="{{suggestion.DetailPageURL}}" >
                    <h4>{{suggestion.ItemAttributes.Title}}</h4>
                    <img src="{{suggestion.MediumImage.URL}}" />
                </a>

                <button ng-click="similar(suggestion)" class="similar-button">Similar</button>

                <div>{{suggestion.EditorialReviews.EditorialReview.Content}}</div>
            </div>
        </li>
    </ul>

    <p ng-show="suggestions.length===0">No suggested items found.</p>
</div>