<span>Intetersts:</span>
<input ng-model="interests" type="text" /></br>

<span>Max price</span>
<input ng-model="maxPrice" type="text" />

<a class="btn btn-lg btn-success" ng-click="suggest()" href="#">Suggest!</a>

<ul>
    <li ng-repeat="suggestion in suggestions">
        <div ng-show="suggestion.ItemAttributes">
            <h3>{{suggestion.ItemAttributes.Title}}</h3>
            <img src="{{suggestion.MediumImage.URL}}" />
            <div>{{suggestion.EditorialReviews.EditorialReview.Content}}</div>

            <a target="_blank" href="{{suggestion.DetailPageURL}}" >Details</a>
            <button ng-click="suggestAnother()">Another</button>
            <button ng-click="similar(suggestion)">Similar</button>
        </div>
    </li>
</ul>

<ul>
    <li ng-repeat="item in similarItems">
        <div ng-show="item.ItemAttributes">
            <h3>{{item.ItemAttributes.Title}}</h3>
            <img src="{{item.MediumImage.URL}}" />
            <div>{{item.EditorialReviews.EditorialReview.Content}}</div>

            <a target="_blank" href="{{item.DetailPageURL}}" >Details</a>
        </div>
    </li>
</ul>